@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
}

.container-padded {
  padding-left: 1rem;
  padding-right: 1rem;
}
